In [1]:
#upload necessary dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import random
import glob
import json
from scipy import stats
os.chdir('/Users/ranen/OneDrive/Desktop/Springboard/Capstone2_NFL/pbp_data')

In [2]:
#NFL Player data
nfl_player_data = '/Users/ranen/OneDrive/Desktop/Springboard/Capstone2_NFL/NFL_player_data.csv'
player_data = pd.read_csv(nfl_player_data)
player_data.head(10)

,name,first_name,last_name,birth_city,birth_state,birth_country,birth_date,college,draft_team,draft_round,...,draft_year,position,height,weight,death_date,death_city,death_state,death_country,year_start,year_end
0,Isaako Aaitui,Isaako,Aaitui,NaN,NaN,NaN,1/25/1987,NaN,NaN,NaN,...,NaN,NT,4-Jun,315.0,NaN,NaN,NaN,NaN,2013,2013
1,Faye Abbott,Faye,Abbott,Clearport,OH,USA,1895-08-16,Syracuse,NaN,NaN,...,NaN,BB-FB-TB-QB-WB-,8-May,182.0,1/22/1965,Dayton,OH,NaN,1921,1929
2,Vince Abbott,Vince,Abbott,London,NaN,England,5/31/1958,Washington,NaN,NaN,...,NaN,K,11-May,207.0,NaN,NaN,NaN,NaN,1921,1929
3,Duke Abbruzzi,Duke,Abbruzzi,Warren,RI,USA,8/3/1917,Rhode Island,NaN,NaN,...,NaN,HB-DB,10-May,175.0,12/6/1982,Newport,RI,NaN,1921,1929
4,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,Los Angeles,CA,USA,6/28/1974,UCLA,Miami Dolphins,3rd,...,1996.0,RB,10-May,194.0,NaN,NaN,NaN,NaN,1996,2000
5,Isa Abdul-Quddus,Isa,Abdul-Quddus,NaN,NaN,NaN,8/3/1989,Fordham,NaN,NaN,...,NaN,S,1-Jun,220.0,NaN,NaN,NaN,NaN,1996,2000
6,Hamza Abdullah,Hamza,Abdullah,Los Angeles,CA,USA,8/20/1983,Washington St.,Tampa Bay Buccaneers,7th,...,2005.0,DB,2-Jun,213.0,NaN,NaN,NaN,NaN,1996,2000
7,Husain Abdullah,Husain,Abdullah,Los Angeles,CA,USA,7/27/1985,Washington St.,NaN,NaN,...,NaN,DB,Jun-00,204.0,NaN,NaN,NaN,NaN,1996,2000
8,Khalid Abdullah,Khalid,Abdullah,Jacksonville,FL,USA,3/6/1979,Mars Hill,Cincinnati Bengals,5th,...,2003.0,LB,2-Jun,227.0,NaN,NaN,NaN,NaN,1996,2000
9,Rabih Abdullah,Rabih,Abdullah,Martinsville,VA,USA,4/27/1975,Lehigh,NaN,NaN,...,NaN,RB,Jun-00,220.0,NaN,NaN,NaN,NaN,1996,2000

In [3]:
#NFL player statistics

player_stats = pd.read_json('player_profiles.json')
player_stats

ValueError: Expected object or value

In [5]:
#nfl game data
nfl_game_data = '/Users/ranen/OneDrive/Desktop/Springboard/Capstone2_NFL/nfl_games.csv'
game_data = pd.read_csv(nfl_game_data)
game_data

,date,season,neutral,playoff,team1,team2,elo1,elo2,elo_prob1,score1,score2,result1
0,1920-09-26,1920,0,0,RII,STP,1503.947000,1300.000000,0.824651,48,0,1.0
1,1920-10-03,1920,0,0,AKR,WHE,1503.420000,1300.000000,0.824212,43,0,1.0
2,1920-10-03,1920,0,0,RCH,ABU,1503.420000,1300.000000,0.824212,10,0,1.0
3,1920-10-03,1920,0,0,DAY,COL,1493.002000,1504.908000,0.575819,14,0,1.0
4,1920-10-03,1920,0,0,RII,MUN,1516.108000,1478.004000,0.644171,45,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16269,2019-01-13,2018,0,1,NE,LAC,1640.171960,1647.624483,0.582068,41,28,1.0
16270,2019-01-13,2018,0,1,NO,PHI,1669.105861,1633.114673,0.641378,20,14,1.0
16271,2019-01-20,2018,0,1,NO,LAR,1682.450194,1648.424105,0.638772,23,26,0.0
16272,2019-01-20,2018,0,1,KC,NE,1675.286412,1661.668566,0.611248,31,37,0.0
16273,2019-02-03,2018,1,1,LAR,NE,1666.969395,1686.338837,0.472154,3,13,0.0

In [6]:
player_data.info

<bound method DataFrame.info of                      name first_name     last_name   birth_city birth_state  \
0           Isaako Aaitui     Isaako        Aaitui          NaN         NaN
1             Faye Abbott       Faye        Abbott    Clearport          OH
2            Vince Abbott      Vince        Abbott       London         NaN
3           Duke Abbruzzi       Duke      Abbruzzi       Warren          RI
4      Karim Abdul-Jabbar      Karim  Abdul-Jabbar  Los Angeles          CA
...                   ...        ...           ...          ...         ...
23728     Markus Zusevics     Markus      Zusevics          NaN         NaN
23729       Jeremy Zuttah     Jeremy        Zuttah       Edison          NJ
23730         Merle Zuver      Merle         Zuver        Adams          NE
23731         Tony Zuzzio       Tony        Zuzzio    Irvington          NJ
23732         Jim Zyntell        Jim       Zyntell       Boston          MA

      birth_country  birth_date       college            draft_team  \
0               NaN   1/25/1987           NaN                   NaN
1               USA  1895-08-16      Syracuse                   NaN
2           England   5/31/1958    Washington                   NaN
3               USA    8/3/1917  Rhode Island                   NaN
4               USA   6/28/1974          UCLA        Miami Dolphins
...             ...         ...           ...                   ...
23728           NaN   4/25/1989          Iowa                   NaN
23729           USA    6/1/1986       Rutgers  Tampa Bay Buccaneers
23730           USA   1/25/1905      Nebraska                   NaN
23731           USA    8/5/1916    Muhlenberg                   NaN
23732           USA   4/27/1910    Holy Cross                   NaN

      draft_round  ... draft_year         position  height weight  death_date  \
0             NaN  ...        NaN               NT   4-Jun  315.0         NaN
1             NaN  ...        NaN  BB-FB-TB-QB-WB-   8-May  182.0   1/22/1965
2             NaN  ...        NaN                K  11-May  207.0         NaN
3             NaN  ...        NaN            HB-DB  10-May  175.0   12/6/1982
4             3rd  ...     1996.0               RB  10-May  194.0         NaN
...           ...  ...        ...              ...     ...    ...         ...
23728         NaN  ...        NaN               OL   5-Jun  300.0         NaN
23729         3rd  ...     2008.0                G   4-Jun  303.0         NaN
23730         NaN  ...        NaN              G-C   1-Jun  198.0   3/25/1969
23731         NaN  ...        NaN                G  11-May  210.0    4/7/2002
23732         NaN  ...        NaN                G   1-Jun  200.0         NaN

      death_city death_state death_country year_start  year_end
0            NaN         NaN           NaN       2013      2013
1         Dayton          OH           NaN       1921      1929
2            NaN         NaN           NaN       1921      1929
3        Newport          RI           NaN       1921      1929
4            NaN         NaN           NaN       1996      2000
...          ...         ...           ...        ...       ...
23728        NaN         NaN           NaN       2012      2013
23729        NaN         NaN           NaN       2008      2013
23730    Phoenix          AZ           NaN       1930      1930
23731  Lawrence           KS           NaN       1942      1942
23732        NaN         NaN           NaN       1933      1935

[23733 rows x 21 columns]>

In [ ]:
#code to combine 5 years of csv data into one csv, commented out
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [7]:
#Play by play data for the last 5 years
pbp_data = pd.read_csv('/Users/ranen/OneDrive/Desktop/Springboard/Capstone2_NFL/pbp_data/combined_csv.csv')
pbp_data

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2015122400,2015-12-24,2,11,8,SD,LV,3,3,93,...,0,0,NaN,7,OPP,0,NaN,0,NaN,0
1,2015122400,2015-12-24,2,11,49,SD,LV,2,9,87,...,0,0,NaN,13,OPP,0,NaN,0,NaN,0
2,2015122400,2015-12-24,2,12,30,SD,LV,1,10,86,...,0,0,CENTER,14,OPP,0,NaN,0,NaN,0
3,2015122400,2015-12-24,2,13,3,SD,LV,3,5,72,...,0,0,NaN,28,OPP,0,NaN,0,NaN,0
4,2015122400,2015-12-24,2,13,48,SD,LV,2,13,64,...,0,0,NaN,36,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270907,2020091300,2020-09-13,4,1,38,ATL,SEA,2,9,80,...,0,0,NaN,20,OPP,0,NaN,0,NaN,0
270908,2020091300,2020-09-13,4,5,18,NaN,NaN,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
270909,2020091300,2020-09-13,4,2,0,ATL,SEA,1,10,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
270910,2020091300,2020-09-13,4,2,0,NaN,NaN,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
270911,2020091300,2020-09-13,4,2,16,ATL,SEA,1,10,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0

In [8]:
#find missing values in the player data set
missing = pd.concat([player_data.isnull().sum(), 100 * player_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by= '%')

#Lots of data here missing or irrelevant, can drop all death rows for now and possibly more later such as birth info

               count          %
name               0   0.000000
year_start         0   0.000000
year_end           0   0.000000
last_name          0   0.000000
position           2   0.008427
first_name        27   0.113766
weight           175   0.737370
college          240   1.011250
height           317   1.335693
birth_date       349   1.470526
birth_country   2619  11.035267
birth_city      2801  11.802132
birth_state     3050  12.851304
draft_year      9518  40.104496
draft_team      9518  40.104496
draft_round     9518  40.104496
draft_pick      9518  40.104496
death_date     19208  80.933721
death_state    19317  81.392997
death_city     19337  81.477268
death_country  23720  99.945224

In [9]:
#Find missing values in game data sets
missing = pd.concat([game_data.isnull().sum(), 100 * game_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by= '%')

#no missing values, looks like a quality dataset

           count    %
date           0  0.0
season         0  0.0
neutral        0  0.0
playoff        0  0.0
team1          0  0.0
team2          0  0.0
elo1           0  0.0
elo2           0  0.0
elo_prob1      0  0.0
score1         0  0.0
score2         0  0.0
result1        0  0.0

In [10]:
#find missing values in pbp data
missing = pd.concat([pbp_data.isnull().sum(), 100 * pbp_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by= '%')

#Some values missing all together, can drop columns from dataset.
#

                                 count           %
GameId                               0    0.000000
IsIncomplete                         0    0.000000
IsTouchdown                          0    0.000000
IsSack                               0    0.000000
IsChallenge                          0    0.000000
IsChallengeReversed                  0    0.000000
IsMeasurement                        0    0.000000
IsInterception                       0    0.000000
IsFumble                             0    0.000000
IsPenalty                            0    0.000000
IsTwoPointConversion                 0    0.000000
IsTwoPointConversionSuccessful       0    0.000000
YardLineFixed                        0    0.000000
YardLineDirection                    0    0.000000
IsPenaltyAccepted                    0    0.000000
IsNoPlay                             0    0.000000
IsPass                               0    0.000000
Yards                                0    0.000000
IsRush                               0    0.000000
PenaltyYards                         0    0.000000
Down                                 0    0.000000
ToGo                                 0    0.000000
YardLine                             0    0.000000
SeasonYear                           0    0.000000
Quarter                              0    0.000000
Second                               0    0.000000
NextScore                            0    0.000000
SeriesFirstDown                      0    0.000000
TeamWin                              0    0.000000
GameDate                             0    0.000000
Minute                               0    0.000000
Description                          1    0.000369
DefenseTeam                       3955    1.459884
Formation                         4786    1.766625
PlayType                          9799    3.617042
OffenseTeam                      20517    7.573308
PassType                        158928   58.664068
RushDirection                   197224   72.800024
PenaltyType                     248277   91.644888
PenaltyTeam                     248283   91.647103
Unnamed: 17                     270912  100.000000
Unnamed: 12                     270912  100.000000
Unnamed: 16                     270912  100.000000
Challenger                      270912  100.000000
Unnamed: 10                     270912  100.000000